<script src="/socket.io/socket.io.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script>
  var socket = io.connect();
  socket.on('comment', function (data) {
    $('#comments').prepend(data.html);
  });
</script>
<h1>Moderate</h1>
<div id="admin">
  <table>
    <thead>
      <tr>
        <td>Time</td>
        <td>Comment</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0; i < comments.length; i++) { %>
      <tr>
        <td><%=: comments[i].time | time %></td>
        <td><%= comments[i].comment %></td>
        <td><a href="#">delete</a> | <a href="#">block</a></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
