<header>
  <a id="logo" href="/"></a>
</header>
<div id="index">
  <div class="content">
    <form id="stop-form" method="post" action="/">
    	<label for="stop">Not a stop, try again:</label>
      <input name="stop" id="stop" type="text" pattern="[0-9]*" maxlength="5" />
    	<input id="stop-go" type="submit" value="Go" />
    </form>
  </div>
</div>

<script src="/third-party.js"></script>
<script src="/app.js"></script>
