<header>
  <a href="/"><img width="134" height"81" id="logo" src="/logo.png" /></a>
</header>

<div class="content">
  <p><strong>What is 'This Is Our Stop?'</strong></p>
  <p>Our goal is to connect people around the shared resource of the transit system, specifically bus stops. By making a space to share news and suggestions about our bus stops, we hope to make city life more friendly and our transit infrastructure even better. Inspired by <a href="http://www.countablyinfinite.ca/">Karen Quinn Fung</a>'s urban planning research.<p>

  <p>This Is Our Stop is not affiliated with or endorsed by Translink. Route and arrival data used in this service is provided by permission of TransLink. TransLink assumes no responsibility for the accuracy or currency of the Data used in this service.</p>

  <p>This Is Our Stop is an open-source project by <a href="http://denimandsteel.com">Denim &amp; Steel Interactive</a> and <a href="http://sam.dalmonte.ca/">Sam Dal Monte</a>. Grab the code at <a href="https://github.com/denimandsteel/thisisourstop">the Github page</a>

  <p>Special thanks to:</p>
  <ul>
  	<li></li>
  </ul>
</div>

<a class="button" href="/">Back Home</a>
