<header>
  <a href="/"><img width="134" height"81" id="logo" src="/logo.png" /></a>
  <form method="post" action="/">
    <input name="stop" id="stop" type="text" pattern="[0-9]*" value="" />
    <input class="btn" type="submit" value="Go" />
  </form>
</header>

<p>Let's make the communities around bus stops discoverable and engaging. Read and share news and suggestions about your favourite stops.<p>
<p>Offered as-is, without guarantee of any kind. Some content may offend. Abuse will result in device blacklisting.</p>

<p>This service is not affiliated with or endorsed by Translink</p>
<p>An open-source project by</p>

<div class="logo">
	<a href="http://denimandsteel.com"><img src="/dns.png" /></a> and <a href="http://sam.dalmonte.ca/">Sam Dal Monte</a>
</div>

<p>Special thanks to:</p>
<ul>
	<li><a href="http://www.countablyinfinite.ca/">Karen Quinn Fung</a></li>
</ul>

<a class="button" href="/">Done</a>