<script src="/socket.io/socket.io.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script>
  var socket = io.connect();
  socket.on('comment', function (data) {
    $('#comments').prepend(data.html);
  });
</script>

<div id="comments">
  <%- partial('comment', comments) %>
</div>