<br /><br />
<div class="comment">
	<div><%=: comment.time | time %></div>
	<% if (typeof comment.type != 'undefined') { %>
		<ul>
		<% if (typeof comment.type.weather != 'undefined') { %>
			<li class="weather">Weather</li>
		<% } %>
		<% if (typeof comment.type.suggestion != 'undefined') { %>
			<li class="suggestion">Suggestion</li>
		<% } %>
		<% if (typeof comment.type.look_for != 'undefined') { %>
			<li class="look_form">Look For</li>
		<% } %>
		<% if (typeof comment.type.just_sayin != 'undefined') { %>
			<li class="just_sayin">Just Sayin'</li>
		<% } %>
		</ul>
	<% } %>
	<div><%= comment.comment %></div>
</div>