<header>
  <a id="logo" class="home-link" href="/"></a>
</header>

<div id="desktop">
  <div class="content">
    <h1>Thanks for Visiting</h1>

    <p><em>This Is Our Stop</em> is made to work only with smartphones. Please visit us with an iPhone or Android phone to join the conversation.</p>

    <h2>About This Is Our Stop</h2>

    <p>A conversation space connecting transit riders through their bus stops. Inspired by <a href="http://www.countablyinï¬nite.ca/">Karen Quinn Fung</a>'s urban planning research, we hope to make city life more friendly and our transit infrastructure even better.</p>

    <p><em>This Is Our Stop</em> is an independent project by <a href="http://denimandsteel.com">Denim & Steel Interactive</a> and <a href="http://sam.dalmonte.ca/">Sam Dal Monte</a>. The project is not affiliated with or endorsed by Translink, and is offered as-is.</p> 

	<p>Send questions and comments to <a href="mailto:hello@denimandsteel.com">hello@denimandsteel.com</a> or follow <a href="http://twitter.com/thisisourstop">@thisisourstop</a> on Twitter.</p>

    <h2>Roll Your Own</h2>

    <p><em>This Is Our Stop</em> is an open source project. If your municipal transit service works with Google transit, you should be able to use the project to create your own social network around bus stops. Please do, and tell us about it! <a href="https://github.com/denimandsteel/thisisourstop">Fork it on GitHub</a></p>
  </div>
</div>
