<header>
  <a class="home-link" href="/"><img width="134" height"81" id="logo" src="/logo.png" /></a>
</header>

<div class="content">
  <p><strong>How Do I Use This?</strong></p>
  <p>Each Translink bus stop has a 5 digit number. Enter that number to see basic info and for a space to post thoughts about the stop and the area around it. Use the icons at the top of the post to give your comment one or more categories.<p>

  <p>This Is Our Stop does not have user accounts or passwords, and names are not unique. You can assign a name to your posts after making three posts. Vote up comments you like, vote down when you disagree, and report anything offensive for a moderator to take a look.</p>

  <p>This Is Our Stop is offered as-is. We encourage open speech but will not tolerate racism, sexism or other forms of abuse. We also don't tolerate spam: do not promote your business or website here. We will remove any comment or block any device from accessing the site if it crosses those lines.</p>

<a class="home-link button" href="/">Back Home</a>
