<header>
  <a id="logo" class="home-link" href="/"></a>
</header>
<div id="index">
  <div class="content">
    <p>Give voice to the secret lives of your favourite bus stops in Greater Vancouver.</p>


    <form id="stop-form" method="post" action="/">
    	<label for="stop">Enter a Bus Stop Number</label>
      <div id="stop-dividers">
        <div id="fg"></div>
    	  <input name="stop" id="stop" type="text" pattern="[0-9]*" maxlength="5" />
      </div>
    	<input id="stop-go" type="submit" value="Go" />
    </form>

    <div id="recent">
    </div>

   </div>

  <div id="how-link" class="button" href="/how">What Do I Do Here?</div>
  <div id="about-link" class="button" href="/about">About This Is Our Stop</div>
</div>

<div id="about">
  <div class="content">
    <p><b>About &lsquo;This Is Our Stop&rsquo;</b></p>
    <p>An experimental and open conversation space that connects people around familiar points across the region. Inspired by <a href="http://www.countablyinfinite.ca/">Karen Quinn Fung</a>&rsquo;s urban planning research, we hope to make city life more friendly and our transit infrastructure even better.<p>

    <p><b><em>This Is Our Stop</em> is not affiliated with TransLink. Route and arrival data used in this service is provided by permission of TransLink. TransLink assumes no responsibility for the accuracy or currency of the data used in this service.</b></p>

    <p><em>This Is Our Stop</em> is an  <a href="https://github.com/denimandsteel/thisisourstop">open-source project</a> collaboration by <a href="http://denimandsteel.com">Denim &amp; Steel Interactive</a> and <a href="http://sam.dalmonte.ca/">Sam Dal Monte</a>.

	<p>Send questions and comments to <a href="mailto:hello@denimandsteel.com">hello@denimandsteel.com</a>, or follow us on Twitter: <a href="http://twitter.com/thisisourstop">@thisisourstop</a>.</p>
  </div>

  <div class="home-link button" href="/">Back Home</div>
</div>

<div id="how">
  <div class="content">
    <p><strong>Getting Started</strong></p>
    <p>Enter the 5-digit number found on any bus stop to start or join the conversation about the stop and surrounding area. Use the icons at the top of the post to give your comment one or more categories.<p>

<p>Post comments to offer tips, share suggestions and just have a good time talking to people you may never meet, but who use the same stop as you. Vote up the comments you like, vote down to disagree, and report offensive content for moderation.</p>

    <p><strong>How Do I Get an Account?</strong></p>
    <p>There are no user accounts or passwords, but you can sign a name to your comments after three posts. We cannot guarantee that your name will be unique, so be creative.</p>

    <p><strong>What Are The Rules?</strong></p>
    <p>Let's keep it simple. <em>This Is Our Stop</em> is an an experimental and open conversation space offered as-is. Some content may offend; we do our best to moderate we are not responsible for what people say here. We collect IP addresses and browser information from all posts, and may re-post any content you share here.</p>

	<p>We encourage open speech without racism, harassment, sexism or spamming. Do not promote your business or website here because nobody cares about it. We will erase offensive content and block devices from the service if they violate these rules.</p> 
	
	<p>By using <em>This Is Our Stop</em> you are agreeing to play by these rules.</p>
  </div>

  <div class="home-link button" href="/">Back Home</div>
</div>

<script src="/jquery.js"></script>
<script src="/jquery.cookie.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/ejs.min.js"></script>
<script src="/underscore.js"></script>
<script src="/json2.js"></script>
<script src="/backbone.js"></script>
<script src="/app.js"></script>
