<header>
  <a href="/"><img width="134" height"81" id="logo" src="/logo.png" /></a>
</header>

<div class="content">
  <p>Discover the secret neighbourhood of your favourite bus stops! Read and share suggestions with others to make your stop a little more friendly.</p>

  <form id="stop-form" method="post" action="/">
  	<label for="stop">Stop Number</label>
    <div id="stop-dividers">
      <div id="fg"></div>
  	  <input name="stop" id="stop" type="text" pattern="[0-9]*" maxlength="5" />
    </div>
  	<input id="stop-go" type="submit" value="Go" />
  </form>

  <div id="recent">
  </div>

  <p>Works with TransLink stops in Greater Vancouver.</p>
</div>


<a class="button" href="/how">What Do I Do Here?</a><br />
<a class="button" href="/about">About This Is Our Stop</a>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script src="/jquery.cookie.js"></script>
<script>
var tios = tios || {};
$('#stop-dividers #fg').click(function() {
  $('#stop').focus();
})

$('#stop-go').hide();
$('#stop').keyup(function() {
  if ($(this).val().length >= 5) {
    $('#stop-form').submit();
    $(this).unbind();
  }
});

tios.recent = JSON.parse($.cookie('recent'));
$.each(tios.recent, function(index, stop) {
  var classes = '';
  if (index === 0) {
    classes += ' first';
  }
  if (index === tios.recent.length - 1) {
    classes += ' last';
  }
  var html = '<a class="stop' + classes + '" href="/stop/' + stop.stop_id + '">' + stop.stop_id + ' - <span class="minor">' + stop.stop_desc + '</span></a>';
  $('#recent').append(html);
});
</script>
