<header>
  <a href="/"><img width="134" height"81" id="logo" src="/logo.png" /></a>
</header>

<div class="content">
  <p>Your bus stop is a social space! Share, learn and suggest improvments with the people who use your bus stop.</p>

  <form id="stop-form" method="post" action="/">
  	<label for="stop">Stop Number</label>
    <div id="stop-dividers">
      <div id="fg"></div>
  	  <input name="stop" id="stop" type="text" pattern="[0-9]*" maxlength="5" />
    </div>
  	<input id="stop-go" type="submit" value="Go" />
  </form>

  <h3>Your recent stops</h3>

  <ul>
    <li><a href="/stop/50322">W Broadway at Vine St - 50322</a></li>
  </ul>

  <p>Works with TransLink stops in the Greater Vancouver area.</p>
</div>

<a class="button" href="/about">Learn More</a>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script>
$('#stop-dividers #fg').click(function() {
  $('#stop').focus();
})

$('#stop-go').hide();
$('#stop').keyup(function() {
  if ($(this).val().length >= 5) {
    $('#stop-form').submit();
    $(this).unbind();
  }
});
</script>
