<header>
  <div class="home-link a" href="/"><img width="134" height"81" id="logo" src="/logo.png" /></div>
</header>
<div id="index">
  <div class="content">
    <p>Discover the secret neighbourhood of your favourite bus stops! Read and share suggestions with others to make your stop a little more friendly.</p>

    <form id="stop-form" method="post" action="/">
    	<label for="stop">Stop Number</label>
      <div id="stop-dividers">
        <div id="fg"></div>
    	  <input name="stop" id="stop" type="text" pattern="[0-9]*" maxlength="5" />
      </div>
    	<input id="stop-go" type="submit" value="Go" />
    </form>

    <div id="recent">
    </div>

    <p>Works with TransLink stops in Greater Vancouver.</p>
  </div>

  <div id="how-link" class="button" href="/how">What Do I Do Here?</div>
  <div id="about-link" class="button" href="/about">About This Is Our Stop</div>
</div>

<div id="about">
  <div class="content">
    <p><strong>About 'This Is Our Stop'</strong></p>
    <p>A conversation space that connects transit riders through their bus stops. Inspired by <a href="http://www.countablyinfinite.ca/">Karen Quinn Fung</a>'s urban planning research, we hope to make city life more friendly and our transit infrastructure even better.<p>

    <p><b>This Is Our Stop</b> <em>is not affiliated with Translink. Route and arrival data used in this service is provided by permission of TransLink. TransLink assumes no responsibility for the accuracy or currency of the Data used in this service.</em></p>

    <p><em>This Is Our Stop</em> is an open-source project by <a href="http://denimandsteel.com">Denim &amp; Steel Interactive</a> and <a href="http://sam.dalmonte.ca/">Sam Dal Monte</a>. Grab the code at <a href="https://github.com/denimandsteel/thisisourstop">the Github page</a>.

	<p>Send questions and comments by email to <a href="mailto:hello@denimandsteel.com">hello@denimandsteel.com</a> or follow <a href="http://twitter.com/thisisourstop>"@thisisourstop on Twitter</a>.</p>
  </div>

  <div class="home-link button" href="/">Back Home</div>
</div>

<div id="how">
  <div class="content">
    <p><strong>What Do I Do Here?</strong></p>
    <p>Enter the 5-digit number found on any bus stop to start or join the conversation about the stop and surrounding area. Use the icons at the top of the post to give your comment one or more categories.<p>

    <p>There are no user accounts or passwords, but you can sign a name to your comments after three posts (unique names are not guaranteed). Vote up the comments you like, vote down to disagree, and report offensive content.</p>

    <p><em>This Is Our Stop</em> is offered as-is. Speak your mind but no racism, sexism or spamming. Do not promote your business or website here because nobody cares. We reserve the right to erase offensive content and block devices from the service.</p> 
  </div>

  <div class="home-link button" href="/">Back Home</div>
</div>

<script src="/jquery.js"></script>
<script src="/jquery.cookie.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/ejs.min.js"></script>
<script src="/underscore.js"></script>
<script src="/json2.js"></script>
<script src="/backbone.js"></script>
<script src="/app.js"></script>
