<header>
  <a class="home-link" href="/"><img width="134" height"81" id="logo" src="/logo.png" /></a>
</header>
<div id="index">
  <div class="content">
    <p>Discover the secret neighbourhood of your favourite bus stops! Read and share suggestions with others to make your stop a little more friendly.</p>

    <form id="stop-form" method="post" action="/">
    	<label for="stop">Stop Number</label>
      <div id="stop-dividers">
        <div id="fg"></div>
    	  <input name="stop" id="stop" type="text" pattern="[0-9]*" maxlength="5" />
      </div>
    	<input id="stop-go" type="submit" value="Go" />
    </form>

    <div id="recent">
    </div>

    <p>Works with TransLink stops in Greater Vancouver.</p>
  </div>
  <a id="how-link" class="button" href="/how">What Do I Do Here?</a><br />
  <a id="about-link" class="button" href="/about">About This Is Our Stop</a>
</div>

<div id="about">
  <div class="content">
    <p><strong>What is 'This Is Our Stop?'</strong></p>
    <p>Our goal is to connect people around the shared resource of the transit system, specifically bus stops. By making a space to share news and suggestions about our bus stops, we hope to make city life more friendly and our transit infrastructure even better. Inspired by <a href="http://www.countablyinfinite.ca/">Karen Quinn Fung</a>'s urban planning research.<p>

    <p>This Is Our Stop is not affiliated with or endorsed by Translink. Route and arrival data used in this service is provided by permission of TransLink. TransLink assumes no responsibility for the accuracy or currency of the Data used in this service.</p>

    <p>This Is Our Stop is an open-source project by <a href="http://denimandsteel.com">Denim &amp; Steel Interactive</a> and <a href="http://sam.dalmonte.ca/">Sam Dal Monte</a>. Grab the code at <a href="https://github.com/denimandsteel/thisisourstop">the Github page</a>

    <p>Special thanks to:</p>
    <ul>
      <li></li>
    </ul>
  </div>

  <a class="home-link button" href="/">Back Home</a>
</div>

<div id="how">
  <div class="content">
    <p><strong>How Do I Use This?</strong></p>
    <p>Each Translink bus stop has a 5 digit number. Enter that number to see basic info and for a space to post thoughts about the stop and the area around it. Use the icons at the top of the post to give your comment one or more categories.<p>

    <p>This Is Our Stop does not have user accounts or passwords, and names are not unique. You can assign a name to your posts after making three posts. Vote up comments you like, vote down when you disagree, and report anything offensive for a moderator to take a look.</p>

    <p>This Is Our Stop is offered as-is. We encourage open speech but will not tolerate racism, sexism or other forms of abuse. We also don't tolerate spam: do not promote your business or website here. We will remove any comment or block any device from accessing the site if it crosses those lines.</p>

  <a class="home-link button" href="/">Back Home</a>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script src="/jquery.cookie.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/ejs.min.js"></script>
<script src="/underscore.js"></script>
<script src="/json2.js"></script>
<script src="/backbone.js"></script>
<script src="/app.js"></script>
