<header>
  <a id="logo" class="home-link" href="/"></a>
</header>
<div id="index">
  <div class="content">
    <p>Give voice to the secret lives of your favourite bus stops in Greater Vancouver.</p>

    <form id="stop-form" method="post" action="/">
    	<label for="stop">Enter a Bus Stop Number</label>
      <input name="stop" id="stop" type="text" pattern="[0-9]*" maxlength="5" />
    	<input id="stop-go" class="btn" type="submit" value="Go" />
    </form>

    <div id="recent">
    </div>

  </div>

   <footer>
    <div id="how-link" class="btn blue" href="/how">How Do I Use This?</div>
    <div id="about-link" class="btn" href="/about">About This Is Our Stop</div>
  </footer>
</div>

<div id="about">
  <div class="content">
    <p><strong>About &lsquo;This Is Our Stop&rsquo;</strong></p>
    <p>An experimental conversation space that connects people around bus stops across the region. Inspired by <a href="http://www.countablyinfinite.ca/">Karen Quinn Fung</a>&rsquo;s urban planning research, we hope to make city life more friendly and our transit infrastructure even better.<p>

    <p><strong><em>This Is Our Stop</em> is not affiliated with TransLink. Route and arrival data used in this service is provided by permission of TransLink. TransLink assumes no responsibility for the accuracy or currency of the data used in this service.</strong></p>

    <p><em>This Is Our Stop</em> is a collaborative project by <a href="http://denimandsteel.com">Denim &amp; Steel Interactive</a> and <a href="http://sam.dalmonte.ca/">Sam Dal Monte</a>.

    <p>Error page background image courtesy Vancouver Archives by CC-Attribution, original can be found <a href="http://www.flickr.com/photos/vancouver-archives/5613475495/">here</a>.</p>

  <p><strong>Contact</strong></p>
  <p>Email questions and comments to <a href="mailto:hello@denimandsteel.com">hello@denimandsteel.com</a>.</p>
  <p>Follow us on Twitter: <a href="http://twitter.com/thisisourstop">@thisisourstop</a>.</p>
  </div>

  <footer>
    <div class="home-link btn" href="/">Back Home</div>
  </footer>
</div>

<div id="how">
  <div class="content">
    <p><strong>Getting Started</strong></p>
    <p>Enter the 5-digit number found on any bus stop to start or join the conversation about the stop and surrounding area.</p>

    <p><strong>Conversation About What?</strong></p>
	<p>How's the weather? What's good or interesting nearby? Share suggestions to make it better. Talk to people you may never meet or see every day who have your bus stops in common. Use the icons at the top of the post to categorize comments. Vote up  comments you like, vote down to disagree, and report offensive content for moderation.</p>

    <p><strong>How Do I Get an Account?</strong></p>
    <p>There are no user accounts or passwords, but you can sign a name to your comments after three posts. We cannot guarantee that your name will be unique, so be creative.</p>

    <p><strong>What Are The Rules?</strong></p>
    <p>Let's keep it simple. <em>This Is Our Stop</em> is an experimental and open conversation space offered as-is. We do our best to moderate but some content might offend you.</p>

	<p>We encourage open speech without racism, harassment, sexism or spamming. Do not promote your website here because nobody cares about it.</p>

	<p>By using <em>This Is Our Stop</em> you agree to play by these rules and that we can erase offensive content or block access if they are violated.</p>
  </div>

  <footer>
    <div class="home-link btn" href="/">Back Home</div>
  </footer>
</div>

<script src="/third-party.js"></script>
<script src="/app.js"></script>
