<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>This Is Our Stop</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <% if (typeof page_id !== 'undefined' && page_id === 'stop-page') { %><meta name="robots" content="noindex"><% } %>
    <link href="/style.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png"/>
    <script type="text/javascript" src="http://use.typekit.com/lbm7wlr.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26480550-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body<% if (typeof page_id !== 'undefined') { %> id="<%= page_id %>"<% } %>>
    <%- body %>
  </body>
</html>
