body { font-family: "Helvetica Neue"; margin:0; }
label { display: block; padding: 10px 0; clear:both; }
input { margin: 5px 0; }
div { text-align: center; background: #fff; }
ul { text-align: left;
margin-left: 95px;
padding-bottom: 10px; }
span.back { float: left; margin: 5px; }
ul.tabs { margin: 0; padding: 0; text-align: center; }
ul.tabs li { display: inline; padding: 5px; border: 2px solid #efefef; }
ul.tabs li.active { background: #efefef; }
#busses { margin: 10px; }
#busses ul { margin-left: 23px; }
iframe { clear: both; border: 2px solid #efefef; }
h2 { clear: both; }
.comment { text-align: left; }
.comment .text { margin-left: 40px; text-align: left; }
.comment h4 { margin-bottom: 0px; }
.icon {
  border-radius: 12.5px;
  margin-left: 5px;
  margin-top: 5px;
  display: block;
  width: 25px;
  height: 25px;
  float: left;
  background: #efefef;
}
.talk-about, #talk-submit {
  margin: 20px;
  background: #EFEFEF;
  padding: 10px;
}
.service { color: #999; }
.category { width: 106px; float: left; }
.category .icon { float: none; margin-left: 39px; }
.category .icon.active { background: #ff0; }
textarea {
  width: 280px;
  margin: 20px;
  height: 60px;
}
#wrap {
  margin:auto;
  width: 320px;
  overflow-x: hidden;
}
#main {
  width: 960px;
  -webkit-transition: -webkit-transform 0.2s linear;
  -webkit-transform: translate(0, 0);
}
.pane {
  float:left;
  width: 320px;
}