body { margin: 0 auto; max-width: 500px; }
header { text-align: center; }
header form { margin-top: 10px; }

ul.type { margin: 20px 0 20px; padding: 0; text-align: center; }
ul.type li { display: inline; float: left; margin-left: 7px; font-size: 14px; }
ul.type label { display: block; width: 105px; }
ul.type label input { margin-right: 5px; }
#count { clear: both; padding-top: 10px; display: block; float: right; }
#stop-talk .actions { padding-left: 20px; text-align: center; }

.button { background: #efefef; display: block; padding: 5px; margin: 5px auto; text-align:center; }
.trip { text-transform:capitalize; }

.map, .disclaimer, .logo, #stop-info { text-align: center; }

#form-inputs { margin: 20px; }
textarea { width: 97%; height: 50px; }

.comment { margin: 10px; }
	.time { border-bottom: 1px solid #ccc; font-weight: bold; padding-bottom: 5px; }
	.comment ul { list-style: none; padding: 0; }
	.comment li {
		border-radius: 25px;
	  	float: left;
		width: 25px;
		height: 25px;
		padding-left: 14px;
		padding-top: 8px;
		background: #ccc;
		margin-right: 10px;
		margin-bottom: 10px;
	}
	.text { clear: both; margin: 10px 0; }