/* Being style */
body, label, input, select, textarea, .topbar input, .btn .close, .alert-message .close { font-family: "ff-super-grotesk-web",sans-serif; }
body { margin: 0 auto; max-width: 500px; }
header { position: relative; text-align: right; height: 60px; background: #500f66; }

header form { padding: 20px 20px 0 0; }
header #stop { width: 60px; }

#stop_form.hide { display: none; }

header #stop_id {
	font-weight: bold;
	color: #ffffff;
	font-size: 41px;
	padding: 2px 15px 0 0;
	letter-spacing: 7px;
	cursor: pointer;
}

img#logo {
	position: absolute;
	top: 0; left: 0;
}

.map { position: relative; z-index: -1; height: 200px; }
.notch {
	background: url(notches.png) top center no-repeat;
	height: 16px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.notch.bottom { background-position: bottom center; top: 184px; } /* 200 - 16px */

#stop-info { background: #99b3cc; padding: 10px; }
.stop_desc {
	font-weight: bold;
	color: #ffffff;
	background: #500f66;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 3px 0 4px 10px;
}
.minor { font-weight: normal; }
.trips {
	background: #ffffff;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 3px 0 4px 10px;
}
.trip .short { font-weight: bold; margin-right: 5px; }
.trip.night { color: #99b3cc; }

#stop-talk { padding: 10px; }

#new-comment .icons { text-align: center; }
#new-comment .icon { background: #c3d4e5; border-radius: 64px; margin-right: 10px; }
#new-comment .icon.active { background: #ffe600; }
#new-comment .icon.last { margin-right: 0; }

.checkboxes { display: none; }

#post-body {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	background: #ffe600;
	border-radius: 10px;
	padding: 3px 10px 4px 10px;
}
#post-header { font-weight: bold; margin-bottom: 5px; }

#count {
	position: absolute;
	top: 6px;
	right: 12px;
	font-size: 13px;
}

textarea {
	font-size: 16px;
	padding: 5px;
	width: 96%;
	height: 50px;
	border: 0;
	border-radius: 5px;
	background: #ffffff;
	-webkit-appearance: none;
}

#stop-talk .actions { text-align: center; }

.button { background: #efefef; display: block; padding: 5px; margin: 5px auto; text-align:center; }

.map, .disclaimer, .logo { text-align: center; }

.comment { }
	.comment .icon { background: #ffe600; border-radius: 32px; margin-right: 5px; }
	.comment .time { border-bottom: 1px solid #ccc; font-weight: bold; padding-bottom: 5px; margin-bottom: 10px; }
	.comment .text { clear: both; margin: 10px 0; }
	.comment.new { background: #ffffe6; }

#quiet { text-align: center; margin: 10px 0; }
